@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Patua+One|Roboto');
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
body {
    outline: 0;
    background: rgb(200,215,220); /* Old browsers */
    background: -moz-linear-gradient(top, 
        rgba(200,215,220,1) 0%, 
        rgba(227,234,237,1) 63%, 
        rgba(242,245,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, 
        rgba(200,215,220,1) 0%,
        rgba(227,234,237,1) 63%,
        rgba(242,245,246,1) 100%); /* Chrome10-25, Safari5.1-6 */
    background: linear-gradient(to bottom, 
        rgba(200,215,220,1) 0%,
        rgba(227,234,237,1) 63%,
        rgba(242,245,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d7dc', 
        endColorstr='#f2f5f6',
        GradientType=0 ); /* IE6-9 */
}
.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .8;
}
.modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.header-success {
    background-color: rgb(223, 240, 216);
    color: rgb(60, 118, 61);
}
.header-danger {
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
}
.page-header {
    font-family: 'Patua One', serif;
    padding-bottom: 60px;
}
.msg-error {
    color: #d9534f;
}
.credits {
    padding-top:20px; 
    color: White; 
    font-size: 14px;
}
.panel-table .panel-body{
    padding:0;
}
.panel-table .panel-body .table-bordered{
    border-style: none;
    margin:0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0px;
}
.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
    border-bottom: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
    border-top: 0px;
}
.panel-table .panel-footer .pagination{
    margin:0; 
}
/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
    line-height: 34px;
    height: 34px;
}
.panel-table .panel-heading .col h3{
    line-height: 30px;
    height: 30px;
}
.panel-table .panel-body .table-bordered > tbody > tr > td{
    line-height: 34px;
}
/* Wrapper for page content to push down footer */
#Wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
/*#Footer {
    margin-top: 120px;
    background-color: #222222;
    min-height: 150px;
}*/
.copyright{
    background-color:#f0f0f0;
}
.copyright p{
    font-family: 'Roboto';
    font-size: 14px;
    padding: 20px 0 0 0;
}
#Wrap > .container {
    padding: 60px 15px 0;
}
footer{
    margin-top: 120px;
    background-color:#222222;
    min-height:150px;
    padding:80px 0 50px 0;
}
footer .menu li a{
    font-family: 'Roboto';
    color:#b1aca1;
    padding:10px;
    text-decoration:none;
}
footer .menu li a:hover{
    color:#7dabdb;
}
.fa.fa-facebook , .fa.fa-dropbox, .fa.fa-flickr , .fa.fa-github , .fa.fa-linkedin ,.fa,fa-tumblr ,.fa.fa-google-plus , .fa.fa-tumblr {
    color:#b1aca1;
    font-size:20px;
    padding:10px;
    margin-bottom:50px;
}
.fa.fa-facebook:hover , .fa.fa-dropbox:hover , .fa.fa-flickr:hover  , .fa.fa-github:hover  , .fa.fa-linkedin:hover  ,.fa,fa-tumblr:hover  ,.fa.fa-google-plus:hover  , .fa.fa-tumblr:hover  {
    color:#6794c2;
}